#picture
{
	width:100%; 
	height:100%;
}

body {
    background:url("congruent_outline.png");
}

#imgs
{
	width:100px;
	height:100px;
	margin:auto;
}
#box1
{
	width:750px;
	height:750px;
	margin:auto;
	background-color:29F7EA;
}


#menu
{
	width:100%;
	height:24px;
	margin:auto;
	background-color:white;s	
}
#menu table{
	width:100%;
}

#menu table td {
	text-align: center;
}
